# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ & Android Studio
*.iml
*.ipr
*.iws
.idea/

# VSCode (optional)
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android build folders
android/.gradle/
android/app/build/
android/build/

# iOS/macOS build
ios/Flutter/
ios/Pods/
ios/Runner.xcworkspace/
ios/build/
macos/Flutter/
macos/build/

# Linux, Windows, Web
windows/build/
linux/build/
web/build/

# Symbolication / obfuscation
app.*.symbols
app.*.map.json
*.dSYM

# APKs, AABs, IPAs
*.apk
*.aab
*.ipa

# Firebase debug
firebase-debug.log
